.m_bottom10{
  margin-bottom:10px;
}
.date_font_size {
  font-size: 14px;
  color: #142E64;
}
.display_inline {
	display: inline; 
}
.margin_top {
	margin-top: 2%;
}
.margin-left_for_select {
	
	margin-left: 65%;
}